<service>
  <id>{{BACKEND_SERVICE_NAME}}</id>
  <name>{{BACKEND_SERVICE_NAME}}</name>
  <description>Buffer pad backend service.</description>
  <executable>{{JAVA_EXE}}</executable>
  <arguments>-Xms{{JAVA_XMS}} -Xmx{{JAVA_XMX}} -Dfile.encoding=UTF-8 -Djava.security.egd=file:/dev/./urandom -jar "{{BACKEND_JAR}}" --spring.profiles.active=prod --spring.config.additional-location=file:///{{CONF_DIR}}/</arguments>
  <workingdirectory>{{BACKEND_DIR}}</workingdirectory>
  <logpath>{{BACKEND_SERVICE_LOG_DIR}}</logpath>
  <log mode="roll-by-size">
    <sizeThreshold>10485760</sizeThreshold>
    <keepFiles>10</keepFiles>
  </log>
  <depend>{{MYSQL_SERVICE_NAME}}</depend>
  <startmode>Automatic</startmode>
  <delayedAutoStart>true</delayedAutoStart>
  <onfailure action="restart" delay="10 sec"/>
</service>
