[client]
default-character-set=utf8mb4
port={{MYSQL_PORT}}

[mysql]
default-character-set=utf8mb4

[mysqld]
basedir={{MYSQL_BASE_DIR}}
datadir={{MYSQL_DATA_DIR}}
port={{MYSQL_PORT}}
bind-address=127.0.0.1
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
default-time-zone='+08:00'
default_authentication_plugin=mysql_native_password
max_connections=200
lower_case_table_names=1
sql-mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
log-error={{MYSQL_ERROR_LOG}}
