# Local dependencies and generated application packages
/packages/*
!/packages/README.md
!/packages/.gitkeep
/app/backend/*
!/app/backend/README.md
!/app/backend/.gitkeep
/app/frontend/*
!/app/frontend/README.md
!/app/frontend/.gitkeep
/logs/
/.idea/
*.iml
*.log
*.log.*
*.download
/config/install.local.ps1
